<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.seckill.core.admin.dao.SysResourceMapper">
  <resultMap id="BaseResultMap" type="com.gw.seckill.facade.admin.entity.SysResource">
    <id column="RES_ID" jdbcType="BIGINT" property="resId" />
    <result column="RES_NAME" jdbcType="VARCHAR" property="resName" />
    <result column="RES_TYPE" jdbcType="VARCHAR" property="resType" />
    <result column="RES_URL" jdbcType="VARCHAR" property="resUrl" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="PARENT_IDS" jdbcType="VARCHAR" property="parentIds" />
    <result column="PERMISSION" jdbcType="VARCHAR" property="permission" />
    <result column="AVAILABLE" jdbcType="BIT" property="available" />
  </resultMap>
  <sql id="Base_Column_List">
    RES_ID, RES_NAME, RES_TYPE, RES_URL, PARENT_ID, PARENT_IDS, PERMISSION, AVAILABLE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where RES_ID = #{resId,jdbcType=BIGINT}
  </select>
  <select id="selectSysResByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_resource
    WHERE PARENT_ID = #{parentId,jdbcType=BIGINT}
  </select>
  <select id="selectAllRes" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_resource
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_resource
    where RES_ID = #{resId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gw.seckill.facade.admin.entity.SysResource">
    insert into sys_resource (RES_ID, RES_NAME, RES_TYPE, 
      RES_URL, PARENT_ID, PARENT_IDS, 
      PERMISSION, AVAILABLE)
    values (#{resId,jdbcType=BIGINT}, #{resName,jdbcType=VARCHAR}, #{resType,jdbcType=VARCHAR}, 
      #{resUrl,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{parentIds,jdbcType=VARCHAR}, 
      #{permission,jdbcType=VARCHAR}, #{available,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.gw.seckill.facade.admin.entity.SysResource">
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resId != null">
        RES_ID,
      </if>
      <if test="resName != null">
        RES_NAME,
      </if>
      <if test="resType != null">
        RES_TYPE,
      </if>
      <if test="resUrl != null">
        RES_URL,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="parentIds != null">
        PARENT_IDS,
      </if>
      <if test="permission != null">
        PERMISSION,
      </if>
      <if test="available != null">
        AVAILABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resId != null">
        #{resId,jdbcType=BIGINT},
      </if>
      <if test="resName != null">
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resType != null">
        #{resType,jdbcType=VARCHAR},
      </if>
      <if test="resUrl != null">
        #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentIds != null">
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gw.seckill.facade.admin.entity.SysResource">
    update sys_resource
    <set>
      <if test="resName != null">
        RES_NAME = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resType != null">
        RES_TYPE = #{resType,jdbcType=VARCHAR},
      </if>
      <if test="resUrl != null">
        RES_URL = #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentIds != null">
        PARENT_IDS = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        PERMISSION = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        AVAILABLE = #{available,jdbcType=BIT},
      </if>
    </set>
    where RES_ID = #{resId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gw.seckill.facade.admin.entity.SysResource">
    update sys_resource
    set RES_NAME = #{resName,jdbcType=VARCHAR},
      RES_TYPE = #{resType,jdbcType=VARCHAR},
      RES_URL = #{resUrl,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      PARENT_IDS = #{parentIds,jdbcType=VARCHAR},
      PERMISSION = #{permission,jdbcType=VARCHAR},
      AVAILABLE = #{available,jdbcType=BIT}
    where RES_ID = #{resId,jdbcType=BIGINT}
  </update>
</mapper>