<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.seckill.core.admin.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.gw.seckill.facade.admin.entity.SysRole">
    <id column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="ROLE" jdbcType="VARCHAR" property="role" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="RESOURCE_IDS" jdbcType="VARCHAR" property="resourceIds" />
    <result column="AVAILABLE" jdbcType="TINYINT" property="available" />
  </resultMap>
  <sql id="Base_Column_List">
    ROLE_ID, ROLE, DESCRIPTION, RESOURCE_IDS, AVAILABLE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gw.seckill.facade.admin.entity.SysRole">
    insert into sys_role (ROLE_ID, ROLE, DESCRIPTION, 
      RESOURCE_IDS, AVAILABLE)
    values (#{roleId,jdbcType=BIGINT}, #{role,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{resourceIds,jdbcType=VARCHAR}, #{available,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gw.seckill.facade.admin.entity.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="role != null">
        ROLE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="resourceIds != null">
        RESOURCE_IDS,
      </if>
      <if test="available != null">
        AVAILABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null">
        #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gw.seckill.facade.admin.entity.SysRole">
    update sys_role
    <set>
      <if test="role != null">
        ROLE = #{role,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null">
        RESOURCE_IDS = #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        AVAILABLE = #{available,jdbcType=TINYINT},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gw.seckill.facade.admin.entity.SysRole">
    update sys_role
    set ROLE = #{role,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      RESOURCE_IDS = #{resourceIds,jdbcType=VARCHAR},
      AVAILABLE = #{available,jdbcType=TINYINT}
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </update>
</mapper>